@tailwind base;
@tailwind components;
@tailwind utilities;


.upperBtns {
}

.lowerBtns {
}

.h-min-dvh{
    min-height: 100dvh;
}

@media (min-width: 1024px) {
  .upperBtns {
    top: 2.5rem;
    right: 2.5rem;
  }
  .lowerBtns {
    bottom: 2.5rem;
    right: 2.5rem;
  }
}
