@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  min-height: 100%;
}

.upperBtns {
}

.lowerBtns {
}

@media (min-width: 1024px) {
  .upperBtns {
    top: 2.5rem;
    right: 2.5rem;
  }
  .lowerBtns {
    bottom: 2.5rem;
    right: 2.5rem;
  }
}
